<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="https://t3.ftcdn.net/jpg/02/58/40/90/240_F_258409001_w0gCLGQ5pFdJEyNB8KiiNrijHCGSdUpQ.jpg" alt="Bootstrap" width="50" height="50" style="margin-right: 10px ;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/accommodations">Smestaji</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookings">Rezervacije</a>
        </li>
      </ul>

      <div>
          Ukupna cena rezervacija: {{totalPrice | currency}}
      </div>
    </div>
  </div>
</nav>